<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Unit tests" parallel="classes">
    <test name="test">
        <packages>
            <package name="com.restsecure.core.request"/>
            <package name="com.restsecure.core.mapping.deserialize"/>
            <package name="com.restsecure.core.http"/>
            <package name="com.restsecure.core.http.cookie"/>
            <package name="com.restsecure.core.request.specification"/>
            <package name="com.restsecure.core.response"/>
            <package name="com.restsecure.core.util"/>

            <package name="com.restsecure.authentication"/>
            <package name="com.restsecure.session"/>
            <package name="com.restsecure.data"/>

            <package name="com.restsecure.validation.base"/>
            <package name="com.restsecure.validation.matchers"/>
            <package name="com.restsecure.validation.object"/>
        </packages>
    </test>

<!--    The ProxyServer is not stable with other tests-->
    <test name="proxy">
        <packages>
            <package name="com.restsecure.core.http.proxy"/>
        </packages>
    </test>
</suite>

